<img src="<%= beer.image_url %>" alt="beer image" class="beer-image">
<a href="http://localhost:3000/beer-info/<%- beer.id %>" id="<%- beer.id %>"><h4> <%- beer.name %> </h4></a>
<p> <%- beer.description %> </p>
<p> <%- beer.tagline %> </p>